CONFIG_PATH=configs/config.yaml
ADMIN_API_KEY=*****
DB_NAME=oolio-order-service
DB_USER=user
DB_PASSWORD=****
REDIS_PASSWORD=*****
TEST_DB_NAME=oolio-order-service-test-database
TEST_DB_PORT=5433
TEST_DB_USER=user